/.idea
/__pycache__
/venv
/__wms_update__
BT_OPEN.bat
ANY_OPEN.bat
Delete_empty.bat
Quotation_export.bat
delete_empty_files.py
Open_some.py
new_func.py
workpiece.py
confidential.py
dlugowiecznosc.bat
order.py
regex.py
redo_db.py
*.txt
*.xlsx
*.csv
*.docx
*deep_copy
const.py
class_file.py



