/.idea
/__pycache__
/venv
/__wms_update__
/build
/deep_copy
/dist
/_old
*.bat
*.csv
*.txt
*.docx
*.spec
*.txtpy
*.xlsx
wms_main/confidential.py
Get_drawings.bat
Open_some.py
other_data/sheet_data.csv
Quotation_export.bat
utils/quote_dict.py
workpiece.py


