/.idea
/__pycache__
/venv
/__wms_update__
/build/*
/deep_copy
/dist
/_old
/wms_main/__pycache__
/utils/__pycache__
/utils/watermark_remover/__pycache__
/utils/pump_block_tracker/__pycache__
*.bat
*.csv
*.txt
*.docx
*.spec
*.txtpy
*.xlsx
wms_main/confidential.py
Get_drawings.bat
Open_some.py
other_data/sheet_data.csv
Quotation_export.bat
utils/quote_dict.py
workpiece.py
workpiece_2.py
workpiece_2.spec


